:root {
  --main-bg-color: #fff7e7;
  --main-text-color: #2c3d50;
  --highlight: #f2ece3;
  --lowlight: #ffa592;
}


body {
	background-color: var(--main-bg-color);
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, p, a, span {
	color: var(--main-text-color) !important; 
	/* need to change React Toolbox styles */
}

img.search-background {
  /* Set rules to fill background */
  min-height: 80%;
  min-width: 50px;

  /* Set up proportionate scaling */
  width: auto;
  height: 100%;
  
  /* Set up positioning */
  position: fixed;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 800px) { 
  img.search-background {
    right: 50%;
    margin-right: -400px;
  }
}

@media screen and (max-width: 500px) { 
  img.search-background {
    display: none;
  }
}



/*.question {
	margin-top: 2%;
	font-weight: bold;
}*/

/*h2 {
	text-align: center;
}

input {
	text-align: center;
}*/


