{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react"
	],
	"plugins": [
		"react-hot-loader/babel",
		"babel-plugin-transform-class-properties"
	],
	"env": {
		"test": {
			"plugins": [
				"babel-plugin-transform-decorators-legacy"
			]
		}
	}
}
