/* .soon-button {
  color: #ffa592;
  background: #2c3d50;
  font-size: 30px;
  border-radius: 12px;
  
} */

.cookingHeader {
	font-family: 'Lilita One', sans-serif;
}

.stork {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 20px;
}

/* Media Queries 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Extra Small Devices, Phones */
@media screen and (max-width: 640px) {
	.stork {
    	width: 80%;
  	}
}