body {
	overflow: 'auto';
	background-color: var(--main-bg-color);
	font-family: var(--main-font-family);
}

.doula {
	margin: 0px 10px;
}

.doula h1 {
	font-family: var(--sub-font);
	font-size: 55px;
	margin-bottom: 0px;
	color: #2c3d50;
}

.doula h3 {
	font-family: var(--sub-font);
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 0px;
	color: #2c3d50;
}

.doula p {
	font-size: 25px;
	color: #b27366;
}

.doula-header,
.doula-intro {
	margin: 0px 20% 20px 20%;
}

.doula-intro p {
	font-size: 30px;
}

.doula-reasons {
	text-align: left;
	padding-bottom: 50px;
}

.doula-desc {
	padding: 0px 20% 0px 10%;
}

@media only screen and (max-width: 574px) {
	/* Styles */

	.doula-intro p {
		font-size: 20px;
	}
	.doula-reasons {
		text-align: center;
	}

	.doula-reasons img {
		position: block;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	.doula-header {
		margin: 0px 10% 20px 10%;
	}

	.doula-desc {
		padding: 0px 5%;
	}
}

@media only screen and (min-width: 575px) {
	/* Styles */

	.doula-reasons img {
		text-align: right;
		float: right;
	}
}
