#CTA-form {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#CTA-email-wrapper {
  width: 310px;
}

#CTA-email {
  letter-spacing: 1px;
  width: 350px;
  background: rgb(236, 236, 245) none repeat scroll 0% 0% / auto padding-box border-box;
  border-color: rgba(0, 0, 0, 0);
  font: normal normal 600 normal 16px / 20px proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: rgb(25, 10, 53) none 0px;
  padding: 11px 23px;
}

#CTA-button {
  color: rgb(255, 255, 255);
  cursor: pointer;
  height: 46px;
  letter-spacing: 1px;
  padding: 10px 23px;
  text-transform: uppercase;
  background: rgb(234, 8, 139) none repeat scroll 0% 0% / auto padding-box border-box;
  border: 2px solid rgb(234, 8, 139);
  font: normal normal 600 normal 16px / 20px proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
}

/* Media Queries 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Extra Small Devices, Phones */
@media screen and (max-width: 640px) {
  #CTA-email,
  #CTA-email-wrapper {
    max-width: 250px;
  }
}
