.landing-page .logo,  {
	padding: 20px 40px;
	font-size: 10px;
	margin: 0 auto;
	text-align: center;
	display: block;
	letter-spacing: 1px;
	padding-top: 10px;
	margin-bottom: 20px;
	width: 100px;
}

.landing-page {
	width: 100%;
	background-size: cover;
	position: fixed;
	height: 100%;
	top: 0;
	background-color: #fff7e7;
}

.landing-page h1,  {
	padding: 20px 40px;
	font-size: 50px;
	margin: 0 auto;
	text-align: center;
	display: block;
	letter-spacing: 1px;
	padding-top: 180px;
	margin-bottom: 20px;
	width: 100px;
}


#CTAconfirmation {
	text-align: center;
	padding-top: 2px;
}
