:root {
	--main-bg-color: #ffffff;
	--main-text-color: #2c3d50;
	--highlight: #f2ece3;
	--lowlight: #ffa592;
	--main-font-family: 'Montserrat', sans-serif;
	--sub-font: 'Montserrat', sans-serif;
}

html {
	font-family: var(--main-font-family);
	font-size: 100%;
}